.speaker-img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: auto;
  border-radius: 50%;
  border: 5px solid var(--ion-color-primary)
}

.banner{
  background-color: var(--ion-color-dark);
  padding: 50px 0px;
}

