<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

      <ion-segment [(ngModel)]="segment" >
          <ion-segment-button value="all">
            All
          </ion-segment-button>
          <ion-segment-button value="favorites">
            Favorites
          </ion-segment-button>
      </ion-segment>

    <ion-buttons slot="end">
      <ion-button >
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar [(ngModel)]="queryText" placeholder="Search"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list #scheduleList >
    <ion-item *ngFor="let session of sessions | async " routerLink="/app/tabs/schedule/{{session.id}}">
      {{session.name}}
    </ion-item>
    <!-- <ion&#45;item&#45;group *ngFor="let group of groups" [hidden]="group.hide"> -->
    <!--   <ion&#45;item&#45;divider sticky> -->
    <!--     <ion&#45;label> -->
    <!--       {{group.time}} -->
    <!--     </ion&#45;label> -->
    <!--   </ion&#45;item&#45;divider> -->
    <!--  -->
    <!--   <ion&#45;item&#45;sliding *ngFor="let session of group.sessions" #slidingItem [attr.track]="session.tracks[0] | lowercase" [hidden]="session.hide"> -->
    <!--     <ion&#45;item routerLink="/app/tabs/schedule/session/{{session.id}}"> -->
    <!--       <ion&#45;label> -->
    <!--         <h3>{{session.name}}</h3> -->
    <!--         <p> -->
    <!--           {{session.timeStart}} &#38;mdash; {{session.timeEnd}}: {{session.location}} -->
    <!--         </p> -->
    <!--       </ion&#45;label> -->
    <!--     </ion&#45;item> -->
    <!--     <ion&#45;item&#45;options> -->
    <!--       <ion&#45;item&#45;option color="favorite" (click)="addFavorite(slidingItem, session)" *ngIf="segment === 'all'"> -->
    <!--         Favorite -->
    <!--       </ion&#45;item&#45;option> -->
    <!--       <ion&#45;item&#45;option color="danger" (click)="removeFavorite(slidingItem, session, 'Remove Favorite')" *ngIf="segment === 'favorites'"> -->
    <!--         Remove -->
    <!--       </ion&#45;item&#45;option> -->
    <!--     </ion&#45;item&#45;options> -->
    <!--   </ion&#45;item&#45;sliding> -->
    <!-- </ion&#45;item&#45;group> -->
  </ion-list>

  <!-- <ion&#45;list&#45;header [hidden]="shownSessions > 0"> -->
  <!--   No Sessions Found -->
  <!-- </ion&#45;list&#45;header> -->

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
    <ion-fab-button><ion-icon name="share"></ion-icon></ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="vimeo" (click)="openSocial('Vimeo', fab)">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="google" (click)="openSocial('Google+', fab)">
        <ion-icon name="logo-googleplus"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="twitter" (click)="openSocial('Twitter', fab)">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="facebook" (click)="openSocial('Facebook', fab)">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
